menu "Sub-GHz / STM32WL UART"

config SUB_UART_ENABLE
    bool "Enable Sub-GHz UART bridge"
    default y

config SUB_UART_PORT_NUM
    int "Sub-GHz UART port number"
    default 1
    range 1 2
    depends on SUB_UART_ENABLE

config SUB_UART_TX_GPIO
    int "Sub-GHz UART TX GPIO"
    default 23
    range -1 30
    depends on SUB_UART_ENABLE

config SUB_UART_RX_GPIO
    int "Sub-GHz UART RX GPIO"
    default 24
    range -1 30
    depends on SUB_UART_ENABLE

config SUB_UART_BAUD
    int "Sub-GHz UART baudrate"
    default 115200
    depends on SUB_UART_ENABLE

config SUB_NRST_GPIO
    int "Sub module nRST GPIO"
    default -1
    range -1 30
    help
        GPIO used to reset the Sub-GHz/STM32WL module (active-low). Set -1 to disable.

endmenu